@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 56, 31, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color:#2563eb;
}
.primaryColor-1 {
  color:#a71b22;
}

.primaryColor-2 {
  color:#2563eb;
}

.primaryColor-3 {
  color: #381f16;
}

.bg-replique {
  background-color:rgb(238 242 255 / 1 );
}

a {
  cursor: pointer;
}

p {
  color: rgb(35 56 118 / 1)
}